<main>
    <header>
        <div class="logo">
            <a routerLink=''>
                <img src="assets/img/LOGO.svg" alt="logo">
            </a>
        </div> 
    
        <nav>
            <ul>
                <li><a routerLink=''>Agendamento</a></li>
                <li><a routerLink='/login'>Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="formularioContato">
        <form method="POST">
            <div class="mensagem">
                <p>Fale Conosco!</p>
            </div>
            <div>
                <input type="text" name="nome" id="nome" placeholder="Nome" required>
            </div>

            <div>
                <input type="text" name="telefone" id="telefone" placeholder="Celular" required>
            </div>

            <div>
                <input type="email" name="email" id="email" placeholder="E-mail" required>
            </div>

            <div>
                <input type="password" name="senha" id="senha" placeholder="Assunto" required>
            </div>

            <div>        
                <textarea name="mensagem" id="mensagem" placeholder="Mensagem" required></textarea>   
            </div>
            
            <div class="bt-submit">
                <button class="botao-enviar" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <footer>
        <p>Barbanade © todos os direitos reservados </p>
    </footer>
</main>
