<main>
    <section class="image">
        <a routerLink=''><img src="assets/img/LOGO.svg" alt="logo"></a>
    </section>
    <section class="login">
        <div class="nao-tem-conta">
            <div class="frase">
                Não tem uma conta?
            </div>
            <div>
                <a routerLink='/cadastro'>
                    <button class="cadastrar">Cadastre-se</button>
                </a>
            </div>
        </div>
        <div class="formularioLogin">
            <form method="POST">
                <div class="mensagem">
                    <p> Bem-vindo de volta!</p>
                </div>
        
                <input type="email" name="email" id="email" placeholder="E-mail" required>
                <input type="password" name="senha" id="senha" placeholder="Senha" required>
        
                <div class="bt-login">
                    <button class="botao-enviar" type="submit">Entrar</button>
                </div>
            </form>
        </div>

        <footer>
            <p>Barbanade © todos os direitos reservados</p>
        </footer>
    </section>
</main>