<section class="principal">
    <div class="nav">
        <div class="logo">
            <img src="assets/img/logo.png" alt="logo">
        </div>
        <div class="menu">
            <a>Agendamentos</a>
            <a>Contatos</a>
            <a>Login</a>
        </div>
    </div> 
</section>
  
<section class="sobre">
    <div class="img">
      <img class="imagem">
    </div>
    <div class="sobreNos">
      <img src="assets/img/logo.png" alt="logo">
      <h2>Sobre Nós</h2>
      <p>
        Inspirada na explosão da contracultura a Barbanade traz o que há de melhor dos anos 60 onde os grandes libertários como Beatles, Barry White e Jim Morrisson(The Doors) usavam lindas barbas e cortes ousados.
        <br><br>Um Ambiente aconchegante com todo estilo da década de 60, aqui entre toalhas quentes e navalhas nosso cliente pode degustar nossas cervejas artesanais, charutos e boas conversas.
    </p>
    </div>
</section>
  
  <section class="equipe">
    <div class="titulo">
      <h2>Equipe</h2>
    </div>
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="assets/img/prof1.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="assets/img/prof2.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="assets/img/prof3.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
              <img src="assets/img/prof4.png" alt="">
          </ng-template>  
          <ng-template carouselSlide>
              <img src="assets/img/prof5.png" alt="">
          </ng-template>  
          </owl-carousel-o>
    </div>
  </section>
  
  <section class="servicos">
    <div class="titulo">
      <h2>Serviços</h2>
    </div>
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="assets/img/servico1.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="assets/img/servico2.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="assets/img/servico3.png" alt="">
            </ng-template>  
          </owl-carousel-o>
    </div>
  </section>
  
  <section class="produtos">
    <div class="titulo">
      <h2>Conheça Nossos Produtos</h2>
    </div>
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="assets/img/produto1.jpg" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="assets/img/PRODUTO2.jpg" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="assets/img/PRODUTO3.jpg" alt="">
            </ng-template>  
            <ng-template carouselSlide>
              <img src="assets/img/PRODUTO4.jpg" alt="">
          </ng-template>  
          <ng-template carouselSlide>
              <img src="assets/img/PRODUTO5.jpg" alt="">
          </ng-template>  
          <ng-template carouselSlide>
              <img src="assets/img/produto7.jpg" alt="">
          </ng-template>  
          </owl-carousel-o>
    </div>
  </section>
  
  <section class="localizacao">
    <div class="logolocal">
      <img src="assets/img/logo.png" alt="logo">
    </div>
    <div class="titulo">
      <h2>Nossa Localização</h2>
    </div>
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.316258721444!2d-46.71216978538218!3d-23.628842469972085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce512089330569%3A0x2a1eb6323d544e63!2sAvanade!5e0!3m2!1spt-BR!2sbr!4v1620760306015!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy"></iframe>
  </section>
  
  <section class="contatos">
    <div class="networks">
      <h2>Redes Sociais</h2>

      <ul>
        <li>
          <img src="assets/img/facebook.png" alt="logo do facebook">
          facebook.com/barbanade
        </li>
        <li>
          <img src="assets/img/instagram.png" alt="logo do instagram">            
          instagram.com/barbanade
        </li>
        <li>
          <img src="assets/img/twitter.png" alt="logo do twitter">            
          twitter.com/barbanade
        </li>
        <li>
          <img src="assets/img/whats.png" alt="logo do whatsapp">            
          +55 011 40028922
        </li>
      </ul>
    </div>
    <div class="horarios">
      <h2>Horarios</h2>
      <ul>
        <li>De 2º a 6º das 08h às 22h</li>
        <li>Sábados das 9h às 21h</li>
        <li>Feriados das 14h às 20h</li>
        <li>Domingos das 14h às 20h</li>
      </ul>
    </div>
  </section>
  <footer class="footer">
    <p>Barbanade © todos os direitos reservados</p>
  </footer>