<main>

    <section class="login">
        <div class="nao-tem-conta">
            <div class="frase">
                Já tem uma conta?
            </div>
            <div>
                <a routerLink='/login'>
                    <button class="cadastrar">Faça Login</button>
                </a>
            </div>
        </div>
        <div class="formularioLogin">
            <form method="POST">
                <div class="mensagem">
                    <p> Cadastre-se!</p>
                </div>

                <div>
                    <label for="nome">Nome</label>
                    <input type="nome" name="nome" id="nome" placeholder="" required>
                </div>
                <div>
                    <label for="telefone">Telefone</label>
                    <input type="telefone" name="telefone" id="telefone" placeholder="" required>
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="" required>
                </div>
                <div>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="" required>
                </div>
                <div>
                    <label for="url">Insira a URL da sua foto</label>
                    <input type="url" name="url" id="url" placeholder="">
                </div>
                
                <div class="bt-login">
                    <button class="botao-enviar" type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
        <footer>
            <p>Barbanade © todos os direitos reservados</p>
        </footer>
    </section>
    <section class="image">
        <a routerLink=''><img src="assets/img/barba.png" alt="logo"></a>
    </section>

</main>