<header>
    <mat-toolbar class="header mat-elevation-z4">
        <span>
            <a routerLink="/">
                <img class ="logo" src="assets/img/logo.png" alt="logo">
            </a>
        </span>
        
    </mat-toolbar>
</header>

<mat-sidenav-container class="conteiner">
    <mat-sidenav class = "sidenav" mode="side" opened 
    fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">                 
                     Usuários
            </a>
            <a mat-list-item routerLink="/home-funcionario">
                     Agenda
            </a>
            <a mat-list-item routerLink="">
                    Perfil
            </a>
            <a mat-list-item routerLink="">
                    Serviços
             </a>
             <a mat-list-item routerLink="">
                Produto 
             </a>
             <a mat-list-item routerLink="">
                Atendimento
             </a>
             <a mat-list-item routerLink="">
                Sair
             </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>      
    </mat-sidenav-content>
</mat-sidenav-container>



<div class="tela">
    <mat-card>
        <mat-card-title>Novo Agendamento</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder = "Cliente"
                [(ngModel)]="agendamento.id_cliente" name="cliente">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder = "Funcionário"
                [(ngModel)]="agendamento.id_funcionario" name="funcionario">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder = "Serviço"
                [(ngModel)]="agendamento.id_servico" name="servico">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder = "Data"
                [(ngModel)]="agendamento.data" name="data">
            </mat-form-field>
           
        </form>

        <button mat-raised-button (click)= "createAgendamento()">
            Salvar
        </button>

        <button mat-raised-button (click)= "cancel()" >
            Cancelar
        </button>
    </mat-card>
</div>
