<header>
    <mat-toolbar class="header mat-elevation-z4">
        <span>
            <a routerLink="/">
                <img class ="logo" src="assets/img/logo.png" alt="logo">
            </a>
        </span>
        
    </mat-toolbar>
</header>

<div class="btn-create">
    <button mat-raised-button (click)= "navigateToAgendamentoCreate()">
        Criar Agendamento
    </button>
</div>


<mat-sidenav-container class="conteiner">
    <mat-sidenav class = "sidenav" mode="side" opened 
    fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/usuario/read">                 
                     Usuários
            </a>
            <a mat-list-item routerLink="/home-funcionario">
                     Agenda
            </a>
            <a mat-list-item routerLink="">
                    Perfil
            </a>
            <a mat-list-item routerLink="">
                    Serviços
             </a>
             <a mat-list-item routerLink="">
                Produto 
             </a>
             <a mat-list-item routerLink="">
                Atendimento
             </a>
             <a mat-list-item routerLink="">
                Sair
             </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>      
    </mat-sidenav-content>
</mat-sidenav-container>




<div class="mat-elevation-z4">
    <table mat-table>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let row">{{row.data}}</td>
      </ng-container>
      <!-- Price Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let row">{{row.cliente'}}</td>
      </ng-container>
      <ng-container matColumnDef="funcionario">
        <th mat-header-cell *matHeaderCellDef>Funcionario</th>
        <td mat-cell *matCellDef="let row">{{row.funcionario'}}</td>
      </ng-container>
      <ng-container matColumnDef="servico">
        <th mat-header-cell *matHeaderCellDef>Serviço</th>
        <td mat-cell *matCellDef="let row">{{row.servico'}}</td>
      </ng-container>


       <!-- Action  Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="" class="edit">
                <i class="material-icons">
                    edit
                </i>
            </a>
            <a routerLink="" class="delete">
                <i class="material-icons">
                    delete
                </i>
            </a>

        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
     
  </div>
